# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Shenato
	email = urreaped@gmail.com
[push]
	default = simple
[core]
	editor = vim
	autocrlf = false
	eol = lf
